body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.header,
.main,
.footer {
  border: 1px solid red;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;  
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer-link {
  padding: 0 20px;
  line-height: 50px;
}
