* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;

  min-height: 100vh;
  margin: 0; padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */

  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
}

/* .container {
  max-width: 1440px;
  margin: 0 auto;
} */